@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: sans-serif;
    
}

li,a,button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#edf0f1;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: darkred;
}

header>h1{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li h2{
    transition: all 0.3s ease 0s;
}

.gallery{
    width: 1200px;
    margin: 10px auto;
    columns: 4;
    column-gap: 20px;
    border-radius: 10px;
    
}

.gallery .box{
    width: 100%;
    margin: 0 0 10px;
    padding:5px;
    background:#fff;
    overflow: hidden;
    border-color: black;
    border-width: 10px;
}

.gallery .box img{
    max-width: 100%;
    border-radius: 10px;
}

.gallery .box h2{
    margin: 10px 0 0;
    padding: 0;
    font-size: 20px;
}

.gallery .box p{
    margin: 0;
    padding: 0 0 10px;
    font-size: 20px;
}

.modal{
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

.modal img{
    max-width: 500px;
    max-height: 800px;
}

.vertical-center{
     line-height: 12px;
     width: 18px;
     font-size: 8pt;
     font-family: tahoma;
     margin-top: 1px;
     margin-right: 20px;
     position:absolute;
     top:0;
     right:0;
}

.vertical-center button{
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    background-color: red;
}

.upload-title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-upload{
    width:800px; 
    margin:auto auto;
    margin-left: 39%;
}

.img-preview{
    width: 100px;
    height: 100px;
    display: inline-block;
}

.image-upload::before{
    background-color: #5678EF;
    color: white;
    display: flex;
    margin-left: 120px;
    align-items: center;
    text-align: center;
    border-radius: 3px;
    content: 'Upload Image'; 
    position: absolute;
}

.image-upload input{
    opacity: 0;
  width: 200px;
  height: 32px;
  display: inline-block;
  margin-bottom: 20px;
}
.nombre-input{
    text-align: center;
    margin-top: 10px;
}

.nombre-input input{
    font-size: 30px;
    margin-bottom: 20px;
}

.descripcion-input{
    text-align: center;
    margin-top: 10px;
}

.name-label{
   margin-left: 580px;
}

.description-label{
    margin-left: 580px;
}

.descripcion-input textarea{
    width: 380px;
    height:50px;
    margin-bottom: 50px;
}

.boton-upload{
    text-align: center;
    margin-top: 10px;
}

.boton-upload button{
    background-color: darkred;
    border-radius: 10px;
    width: 80px;
    height: 30px;
}

.load-more{
    text-align: center;
    margin-top: 10px;
}

.load-more button{
    background-color: darkred;
    width: 100px;
    height: 30px;
    border-radius: 10%;
}

.no-fav{
    text-decoration: none;
    color: black;
    font-size: 30px;
    
}

#preview {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #preview img {
    max-width: 100%;
    max-height: 500px;
  }

.no-fav-p{
    text-align: left;
}

.like{
    color:red;
}

.unlike{
    color:gray;
}