@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    
}

li,a,button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#edf0f1;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: darkred;
}

header>h1{
    color: antiquewhite;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li h2{
    transition: all 0.3s ease 0s;
}

.gallery{
    width: 1200px;
    margin: 10px auto;
    columns: 4;
    column-gap: 20px;
    border-radius: 10px;
    
}

.gallery .box{
    width: 100%;
    margin: 0 0 10px;
    padding:5px;
    background:#fff;
    overflow: hidden;
    border-color: black;
    border-width: 10px;
}

.gallery .box img{
    max-width: 100%;
    border-radius: 10px;
}

.gallery .box h2{
    margin: 10px 0 0;
    padding: 0;
    font-size: 20px;
}

.gallery .box p{
    margin: 0;
    padding: 0 0 10px;
    font-size: 20px;
}

.modal{
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

.modal img{
    max-width: 500px;
    max-height: 800px;
}

.vertical-center{
     line-height: 12px;
     width: 18px;
     font-size: 8pt;
     font-family: tahoma;
     margin-top: 1px;
     margin-right: 20px;
     position:absolute;
     top:0;
     right:0;
}

.vertical-center button{
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    background-color: red;
}
